<!--{{order.item.item_code}}
    Ide vezet amikor az warehouse_orders.html-en rákattintunk egy rendelésre.
    Lehessen szerkeszteni szintén az elemeket és azokat beküldve lesznek majd mentve.-->


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rendelés részletei</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>
    <body>
        <h2>Rendelés adatai</h2>
        
        <form action="{% url 'OrderHandler' pk=order.id %}" method="POST">
            {% csrf_token %}
            <label for="item">Termék:</label>
            <input style="border-radius: 10px;" type="text" name="item" value="{{ order.item.id }}">
            <br><br>
            <label for="is_visible">Állapot:</label>
            <select style="border-radius: 10px;" name="is_visible">
                <option value="True">Élő</option>
                <option value="False">Törölt</option>
            </select>
            <br><br>
            <label for="is_done">Szállítva:</label>
            <select style="border-radius: 10px;" name="is_done">
                <option value="True">Igen</option>
                <option value="False">Nem</option>
            </select>
            <br><br>
            <label for="name">Név:</label>
            <input style="border-radius: 10px;" type="text" name="name" value="{{ order.name }}">
            <br><br>
            <label for="address">Cím:</label>
            <input style="border-radius: 10px;" type="text" name="address" value="{{ order.address }}">
            <br><br>
            <label for="e_mail">E-mail:</label>
            <input style="border-radius: 10px;" type="email" name="e_mail" value="{{ order.e_mail }}">
            <br><br>
            <label for="phone">Telefonszám:</label>
            <input style="border-radius: 10px;" type="tel" name="phone" value="{{ order.phone }}">
            <br><br>
            <label for="amount">Mennyiség:</label>
            <input style="border-radius: 10px;" type="number" name="amount" id="amount" value="{{ order.amount }}">
            <br><br>
            <label for="price">Ár</label>
            <input style="border-radius: 10px;" type="number" name="price" id="price" value="{{ order.price }}">
            <br><br>
            <button style="border-radius: 10px;" type="submit">Mentés</button>
        </form>
    </body>
    </html>