<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raktár Admin</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="admin_head">
        <input type="text" id="name">
        <button onclick="">Keress</button>

        <input type="checkbox" id="available">
        Nem elérhető

        <a href="{% url 'w_orders' %}"> Rendelések</a>

        <a href="{% url 'logout' %}">
            Kijelentkezés
        </a>
        
        
    </div>


    <table id="goods_list">
        <tr>
            <td>Termék kód</td>
            <td>Név</td>
            <td>Mennyiség</td>
            <td>Beszerzési ár</td>
            <td>Eladási ár</td>
        </tr>
    </table>

    <div id="pages"></div>

    
    <script src="../static/script_admin.js"></script>
    <script>loadGoods('goods_list')</script>
</body>
</html>