<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raktár Rendelések</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <a href="{% url 'w_admin' %}"> Termékek</a>

        <a href="{% url 'logout' %}">
            Kijelentkezés
        </a>
    itt ugyan olyan formában mint a warehouse_admin.html-en kellene majd megjelennie a rendeléseknek. Itt is ha egy rendelésre kattintunk akkor hozza fel egy másik oldalon hogy lehessen szerkeszteni

    <script src="../static/script.js"></script>
    
</body>
</html>