<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raktár Rendelések</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="orders_head">
        <input type="text" id="search">
        <button onclick="search()">Keress</button>

        <input type="checkbox" id="deleted">
        Törölt

        <input type="checkbox" id="done">
        Kész

        <a href="{% url 'w_admin' %}"> Termékek</a>

        <a href="{% url 'add_order' %}">Rendelés hozzáadása</a>

        <a href="{% url 'logout' %}">
            Kijelentkezés
        </a>
        
        
    </div>

        <table id="orders_list">
            <tr>
                <td>Rendelés szám</td>
                <td>Termék</td>
                <td>Mennyiség</td>
                <td>Név</td>
                <td>Cím</td>
                <td>Dátum</td>
                <td>Ár</td>
            </tr>
        </table>

        <div id="pages"></div>

    <script src="../static/script_orders.js"></script>
    <script>loadOrders();</script>

    
</body>
</html>