body{
    background-color:rgb(218, 218, 218) ;
    margin-top: 35px;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 120%;
    border-radius: 6px;
}

#admin_head {
    text-align: center;
}    

#pages {
    text-align: center;
}

#goods_list{
    border-collapse: collapse;
    width: 100%;
    color: rgb(19, 19, 40);
}

#goods_list tr td{ 
   border: 1px solid black;
   
}

#orders_list{
    border-collapse: collapse;
    width: 100%;
}

#orders_list tr td{
    border: 2px solid rgb(7, 16, 74);
    font-size: 120%;
}