body{
    background-color: green;
}

#goods_list{
    border-collapse: collapse;
    width: 100%;
}

#goods_list tr td{ 
   border: 1px solid black;
   
}

#orders_list{
    border-collapse: collapse;
    width: 100%;
}

#orders_list tr td{
    border: 1px solid black;
}